<%-include('../Includes/header.ejs')%>
    <link rel="stylesheet"  type="text/css" href="/CSS/formStyle.css">   
    </head>
    <body>
        
        <%-include('../Includes/navigation.ejs')%>
        
     <div class="home" style="width:1400px;height:700px;background-image:url(uploaded_image/comp.jpg);">    
        
        <br><br>
        <center>
            <marquee><h1 style="color:rgb(34, 34, 87)" >WelCome To Laptop World</h1></marquee>
        <br><br><br>
        <div class="contain" style="background-color: rgb(170, 180, 180); opacity:0.9; 
        font-size: 30px;
        
        border: 5px solid red;">
        
        <p style="color: black;">Design and simplicity are at the core of our website builder.</p> 
        <p style="color: black;">  Easily create, customize, and promote a stunning website that's search engine ready all on your </p>
        <p style="color: black;">own with the power of Mailchimp’s platform.</p> 
       
       
        </div> 
        <br>
        
           
        
    
    
    
        <br><br>

    </div> 


        <%-include('../Includes/footer.ejs')%>